body {
    background-color: rgb(248, 244, 239);
}

.header {
    padding: 20px;
    text-align: center;

}
h1{
    color: #12122e;
}
p {
    color: #000000
}

.section1, .section2, .section3 {
    background-color: rgb(100, 204, 207);
    width: 500px;
    border:none;
    border-left: 8px solid rgb(33, 41, 153);
    border-radius: 4px;
    padding: 30px;
    margin: 20px;
}

input[type=text] {
    width:50%;
    padding: 8px 15px;
    margin: 8px 0;
    border:none;
    border-bottom: 2px solid rgb(33,41,153);
}

input[type=email] {
    width:80%;
    padding: 8px 15px;
    margin: 8px 0;
    border:none;
    border-bottom: 2px solid rgb(33, 41,153);
}

input[type=submit]{
    background-color: rgb(10, 161, 161);
    border: none;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 16px 31px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s; /*in place if there's time to implement a hover*/
    cursor: pointer;
}

input[type=submit]{
    color: black;
    border: none;
}
input[type=submit]:hover {
    color: white;
}