body {
    background-color: rgb(240, 248, 239);
    /*background-image: linear-gradient(to bottom right, rgb(9, 106, 197), rgb(200, 152, 231));*/
}


.header {
    padding: 20px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}
h1{
    color: #2e1213;
}
p {
    color: #000000
}

.section1, .section2, .section3 {
    background-color: #E3AEAA;
    width: 500px;
    border:none;
    border-left: 8px solid #850900;
    border-radius: 4px;
    padding: 30px;
    margin: 20px auto;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}
.choices{
    line-height: 1.8;
}
input[type=text] {
    width:50%;
    padding: 8px 15px;
    margin: 8px 0;
    border:none;
    border-bottom: 2px solid #850900;
}

input[type=email] {
    width:80%;
    padding: 8px 15px;
    margin: 8px 0;
    border:none;
    border-bottom: 2px solid #850900;
}



input[type=submit]{
    background-color: #DB2D21;
    border: none;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 16px 31px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit_button{
    text-align: center;
}

input[type=submit]{
    color: black;
    border: none;
}
input[type=submit]:hover {
    color: white;
}